.addthis_64x64_style {
  .at4-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-size: 32px !important;

    @media (min-width: @screen-sm-min) {
      width: 64px;
      height: 64px;
      line-height: 64px;
      background-size: 64px !important;
    }
  }
}

.addthis_toolbox {
  a {
    display: inline-block;
    margin-right: -4px;
  }
}

.single,
.banner {
  .at4-icon {
    background-color: @med-gray !important;
  }
}
