.template-socialBar {
  border-bottom: 1px solid @med-gray;
  background-color: @odtv-white;

  @media (min-width: @screen-sm-min) {
    height: 65px;
  }

  .socialBar-label {
    text-align: center;
    margin: 25px 10px 0 10px;

    @media (min-width: @screen-sm-min) {
      float: left;
      margin: 25px 20px 0 40px;
      text-align: left;
    }
  }

  .socialBar-addThis {
    margin-top: 20px;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      float: left;
      text-align: left;
    }

    .addThis-widget {
      display: inline-block;

      a {
        margin-right: 20px;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        i {
          font-size: 20px;
          color: @med-gray;

          @media (min-width: @screen-sm-min) {
            font-size: 30px;
          }
        }
      }
    }
  }

  .socialBar-statsContainer {
    text-align: center;
    padding: 0 20px 0 0;

    @media (min-width: @screen-sm-min) {
      float: right;
      text-align: left;
    }

    .statsContainer-stats {
      display: inline-block;
      margin: 10px 20px 0 20px;

      .stats-number {
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
        }
      }

      .stats-label {
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
