.template-socialBar {
  height: 65px;
  border-bottom: 1px solid @med-gray;
  background-color: @odtv-white;

  .socialBar-label {
    float: left;
    margin: 25px 20px 0 40px;
  }

  .socialBar-addThis {
    float: left;
    margin-top: 20px;

    .addThis-widget {
      display: inline-block;

      a {
        margin-right: 20px;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        i {
          font-size: 30px;
          color: @med-gray;
        }
      }
    }
  }

  .socialBar-statsContainer {
    float: right;
    padding: 0 20px 0 0;

    .statsContainer-stats {
      display: inline-block;
      margin: 10px 20px 0 20px;

      .stats-number {
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
        }
      }

      .stats-label {
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
