.content-info {
  height: 125px;
  padding-top: 44px;
  border-top: 1px solid @odtv-dark-red;

  .presented {
    float: left;
    color: @med-gray;
    text-transform: uppercase;

    img {
      display: inline-block;
    }
  }

  ul {
    display: inline-block;
  }

  .copyright {
    display: inline-block;
    color: @med-gray;
    text-transform: uppercase;
  }

  a {
    color: @med-gray;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: @med-gray;
    }
  }
}
