footer {
  position: fixed;
  bottom: 0;
  z-index: -99;
  width: 100%;
  padding-top: 44px;

  .row {
    .col-md-4 {

      &:first-of-type {
        padding-left: 15px;
        padding-right: 45px;
      }

      padding-left: 30px;
      padding-right: 30px;


      &:last-of-type {
        padding-left: 45px;
        padding-right: 15px;
      }

    }
  }

  .social {
    background-image: url('../img/footer.jpg');
    background-size: cover;
    background-position: top center;
    height: 780px;

    h4 {
      font-size: 26px;
      font-weight: 300;
    }

    p {
      font-size: 16px;
    }

    hr {
      opacity: 0.4;
    }

    .social-headline {
      text-align: center;
      margin-top: 92px;

      h3 {
        font-size: 63px;
      }
    }

    .social-subhead {
      text-align: center;
      margin-top: 37px;

      p {
        font-size: 24px;
        font-weight: 300;
      }
    }

    .social-icons {
      text-align: center;
      margin-top: 43px;
      height: 68px;
      margin-bottom: 33px;
    }

    .social-contribute {
      .contribute-headline {
        margin-top: 40px;
      }

      .contribute-body {
        margin-top: 19px;
        line-height: 1.45;
      }

      .contribute-button {
        margin-top: 20px;
      }
    }

    .social-twitter {
      .twitter-icon {
        margin-top: 30px;
        font-size: 35px;
      }

      .twitter-body {
        margin-top: 5px;
        line-height: 1.6;
      }

      .twitter-author {
        margin-top: 20px;
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .twitter-handle {
        margin-top: 5px;
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
        }
      }
    }

    .social-signup {
      .signup-headline {
        margin-top: 40px;
      }

      .signup-body {
        margin-top: 18px;
      }

      .signup-form {
        margin-top: 25px;
      }
    }

    .gform_wrapper {
      .top_label {
        .gfield_label {
          display: none;
        }

        .ginput_container {
          input {
            width: 100%;
          }
        }
      }
    }

    .gform_footer {
      margin: 10px 0 0 0;
      padding: 0;
    }
  }

  .subfooter {
    border-top: 1px solid @odtv-dark-red;
    height: 125px;
    padding-top: 50px;

    .presented {
      float: left;
      color: @med-gray;
      text-transform: uppercase;

      img {
        display: inline-block;
      }
    }

    ul {
      display: inline-block;
    }

    .copyright {
      display: inline-block;
      color: @med-gray;
      text-transform: uppercase;
    }

    a {
      color: @med-gray;
      text-decoration: underline;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: @med-gray;
      }
    }
  }
}
