// Variables

@navBarHeight: 120px;
@logoMarginTop: 25px;
@buttonMarginTop: 50px;
@buttonMarginLeft: 20px;

.banner {
  background-color: @odtv-black;
  border-color: @odtv-black;
  border-radius: 0px;
  border-bottom: 1px solid @med-gray;
  .transition(all, 0.5s);

  &.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    height: 0;
    min-height: 0;
    overflow: hidden;
  }

  &.visible {
    height: @navBarHeight;
  }

  .container {
    position: relative;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse,
  .navbar-form {
    background-color: @odtv-black;
  }

  .navbar-brand {
    height: auto;
    margin-top: @logoMarginTop;

    img {
      height: 40px
    }
  }

  .nav-buttons {
    float: left;
    margin-top: @buttonMarginTop;
    margin-left: @buttonMarginLeft;

    .btn {
      padding: 5px 10px;
      font-size: 12px;
    }
  }

  .nav-search {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-top: @buttonMarginTop;
    font-size: 12px;
    color: @med-gray;

    .left-inner-addon i {
      display: none;
    }

    form {
      #search {
        height: 32px;
        width: 0px;
        padding: 0px;
        .transition(all, 0.5s);

        &.visible {
          width: 300px;
          padding: 0 20px;
        }
      }

      button {
        display: none;
        padding: 8px 10px;
      }
    }
  }

  .nav-right {
    float: right;

    .nav-social {
      display: inline-block;
      margin-top: @buttonMarginTop;
      margin-right: 60px;

      .social-label {
        display: inline-block;
        font-size: 12px;
        color: @med-gray;
        text-transform: uppercase;
      }

      .social-icons {
        display: inline-block;
      }
    }
  }
}
